#root {
  width: 100%;
  min-height: 100vh;
  background-color: #ccc;

  #menu-btn {
    position: fixed;

    width: 60px;
    height: 60px;

    top: 0;
    right: 0;

    background-color: black;

    &::before,
    &::after {
      content: "";

      position: absolute;

      width: 40px;
      height: 4px;

      right: 10px;

      background-color: white;

      transition: top 400ms, transform 400ms;
    }

    &::before {
      top: 24px;
    }

    &::after {
      top: 35px;
    }
  }

  &.menu-opened {
    background-color: white;
    #menu-btn {
      &::before {
        top: 28px;
        transform: rotate(45deg);
      }

      &::after {
        top: 28px;
        transform: rotate(-45deg);
      }
    }
  }
}
