#root {
  width: 100%;
  min-height: 100vh;
  background-color: #ccc;

  #menu-btn {
    position: fixed;

    width: 60px;
    height: 60px;

    top: 0;
    right: 0;

    background-color: black;

    z-index: 999;

    &::before,
    &::after {
      content: "";

      position: absolute;

      width: 40px;
      height: 4px;

      right: 10px;

      background-color: white;

      transition: top 400ms, transform 400ms;
    }

    &::before {
      top: 24px;
    }

    &::after {
      top: 35px;
    }
  }

  &.menu-opened {
    background-color: white;

    #menu-btn {
      &::before {
        top: 28px;
        transform: rotate(45deg);
      }

      &::after {
        top: 28px;
        transform: rotate(-45deg);
      }
    }

    nav {
      right: 0;
      transition: right 500ms;
    }
  }
}

section {
  width: 100%;
  height: 100vh;
}

nav {
  // right: -300px, ha megkapja a menu-opened classnevet, akkor mindez animálódjon.
  // !!querySelector querySelectorAll for átnézése!!

  position: fixed;

  width: 200px;
  height: 100vh;

  top: 0;
  right: -300px;

  background: black;
  color: white;

  padding: 40px;

  transition: right 500ms;

  z-index: 99;

  a {
    display: block;
    margin-bottom: 20px;
  }
}
