#menu-btn {
  position: fixed;

  width: 60px;
  height: 60px;

  top: 0;
  right: 0;

  background-color: black;

  &::before,
  &::after {
    content: "";

    width: 40px;
    height: 4px;

    right: 10px;

    background-color: white;
  }

  &::before {
    position: absolute;
    top: 24px;
    transition: top 2s ease-in-out;
  }

  &::after {
    position: absolute;
    top: 35px;
    transition: top 2s ease-in-out;
  }

  &:hover::before {
    top: 11px;
  }

  &:hover::after {
    top: 49px;
  }

  &.clicked {
    background-color: gray;
  }
}
